<p><%= @user %>,</p>

<p>If you have forgotten your password for <%= @app_name %>, you can choose
a new one by clicking on this link:</p>

<p>  <a href="<%= user_reset_password_url :id => @user, :key => @key %>"><%= user_reset_password_url :id => @user, :key => @key %></a></p>

<p>Thank you,<br />

The <%= @app_name %> team.</p>
