<p><%= @user %>,</p>

<p>You have been invited to join <%= @app_name %>. If you wish to accept, please click on the following link</p>

<p>  <a href="<%= user_accept_invitation_url :id => @user, :key => @key %>"><%= user_accept_invitation_url :id => @user, :key => @key %></a></p>

<p>Thank you,<br />

The <%= @app_name %> team.</p>
